// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-family-sans-serif;
}

.form {
    position: absolute;
    font-size: 1.4rem;
    top: 50%;
    left: 50%;
    border: 1px solid grey;
    padding: 2rem;
    width: fit-content;
    transform: translate(-50%, -50%);

    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        padding: 0.5rem 1.2rem;
    }

    &__label {
        display: block;
    }

    &__button {
        display: flex;
        padding: 0.5rem 1.5rem;
        margin-left: auto;
    }
}

.territories {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__parent {
        font-size: 1.5rem;

        &-icon {
            position: absolute;
            // top: -1.4rem;
            // font-size: 3rem;
        }

        &-name {
            margin-left: 2rem;
        }
    }

    &__child {
        margin-left: 2.1rem;
    }
}
